.git
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
npm-debug.log
.webassets-cache
.DS_Store
*.sqlite3
*.egg-info/
.coverage
.pytest_cache
.ruff_cache
/frontend/node_modules
/frontend/bun.lockb