<header>
    <navbar class="navbar bg-base-100" data-controller="navbar">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="{% url 'home' %}">Django Starter Kit</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a href="#">Link</a></li>
                <li>
                    <a>Parent</a>
                    <ul class="p-2 bg-base-100">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </navbar>
</header>